/* Required Stylesheets */
#toc {
  display: block;
  position: fixed;
  line-height: 1.3em;
  font-size: .8em;
  z-index: 200;
  right: 40px;

  .toc-child {
    margin-left: 0;
    padding-left: 1.5em;
    padding-top: 0;
  }
}

.toc-article {
    background: rgba(248, 248, 248, 0.8);
    margin: 1.6em 0 0 2em;
    padding: 1em;
    -webkit-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid rgb(221, 221, 221);
}
